TELEGRAM_API_ID=
TELEGRAM_API_HASH=

BOT_TOKEN=
BOT_API_BASE_URL=http://127.0.0.1:8081
ROOT_ADMIN_IDS=123456789
HF_TOKEN=
STORAGE_PATH=./data/bot.db
MEDIA_DIR=./data/media
IDLE_SHUTDOWN_MINUTES=5
DEFAULT_LANGUAGE=auto
WHISPER_MODEL=small
BACKEND_FORCE=
WHISPERX_CMD=whisperx
